.mobile-social-icons,.mobile-menu,#menu-container{
	display: none;
}

@media only screen and (max-width: 860px){
	.music-name h1 {
		font-size: 48px;
		letter-spacing: 24px;
		text-indent: 24px;
	}
}
@media only screen and (max-width: 768px){
	#news,#music,#about,#photos{
		height: auto !important;
	}
	#discography{
		min-height: auto !important;
	}
}

/**************  Phones ***************/

@media only screen and (max-width: 767px){
	body{
		overflow-x: hidden;
	}
	body.overflow-hide{
		overflow: hidden;
	}
	header#header{
		display: none;
	}
	.mobile-menu {
		display: block;
		left: 40px;
		position: fixed;
		top: 25px;
		z-index: 99;
	}
	.mobile-menu a{
		text-decoration: none;
		outline: 0;
	}
	.mobile-menu a span.hamberger,#menu-container a span.close-hamberger{
		background-color: #ffffff;
		display: inline-block;
		position: relative;
		height: 4px;
		top: 17px;
		width: 70px;
	}
	.mobile-menu a span.hamberger:before,#menu-container a span.close-hamberger:before{
		position: absolute;
		top: -17px;
		content:"";
		background-color: #ffffff;
		width: 70px;
		height: 4px;
	}
	.mobile-menu a span.hamberger:after,#menu-container a span.close-hamberger:after{
		position: absolute;
		top: 17px;
		left: 0;
		content:"";
		background-color: #ffffff;
		width: 70px;
		height: 4px;
	}
	#menu-container a span.close-hamberger,#menu-container a span.close-hamberger:before,#menu-container a span.close-hamberger:after{
		width: 55px;
	}
	#menu-container a span.close-hamberger{
		margin-left: 8px;
	}
	#menu-container a span.close-hamberger{
		transform: rotate(90deg);
	}
	.close {
		display: inline-block;
		margin: 25px 0 0 40px;
		text-decoration: none;
	}
	.menu-text {
		color: #ffffff;
		display: block;
		font-family: proxima_nova;
		font-size: 26px;
		font-weight: 500;
		line-height: 1;
		padding-top: 15px;
	}
	.close .menu-text{
		padding-top: 20px;
	}
	.site {
		position: relative;
	}
	#menu-container {
		background: rgba(0,0,0,0.9);
		z-index: 999;
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		display: none;
		overflow: scroll;
	}
	.mobile-nav{
		text-align: center;
	}
	#menu-container ul{
		padding: 0;
	}
	#menu-container ul li{
		list-style: none;
		display: block;
		margin: 60px 0;
		line-height: 45px;
		padding: 0;
		}
	#menu-container ul li a{
		color: #fff;
		font-size: 40px;
		text-transform: uppercase;
		text-decoration: none;
	}
	.scroll-down img{
		display: none;
	}
	.scroll-down a{
		font-size: 24px;
	}
	
	#about > div,#news{
		height: auto !important;
	}
	.about-content {
		font-size: 26px;
	}
	#about .col-eleven{
		width: 100%;
	}
	#feeds .bx-wrapper {
		max-width: auto !important;
	}
	.slider2 .slide {
		height: 200px;
		margin-right: 0 !important;
	}
	.tweet{
		font-size: 20px;
		text-align: left;
	}
	
	/**********  Footer  *********/
	
	#footer{
		font-size: 18px;
		color: #000;
		height: auto;
		padding-bottom: 20px;
	}
	#footer .social-icons{
		display: none;
	}
	.mobile-social-icons{
		padding: 5px 0 25px;
		display: block;
	 }
	.mobile-social-icons ul{
		 list-style: none;
		 margin: 0;
		 padding: 0;
	 }
	.mobile-social-icons ul li{
		 display: inline-block;
	 }
	.mobile-social-icons ul li a {
		background: rgba(0, 0, 0, 0) url("../images/mobile-social-icons.png") no-repeat scroll 0 0;
		display: block;
		height: 48px;
		margin-right: 60px;
		text-indent: -9999px;
		width: 46px;
		outline: 0;
	}
	.mobile-social-icons ul li a.facebook {
		background-position: 0 0;
		width: 22px;
	}
	.mobile-social-icons ul li a.twitter {
		background-position: -70px 0;
		width: 40px;
	}
	.mobile-social-icons ul li a.instagram {
		background-position: -156px 0;
	}
	.mobile-social-icons ul li a.youtube {
		background-position: -255px 0;
	}
	.mobile-social-icons ul li a.spotify {
		background-position: -344px 0;
	}
	.mobile-social-icons ul li a.apple {
		background-position: -434px 0;
		margin-right: 0;
	}
	
}
@media only screen and (max-width: 600px){
	.music-name h1 {
		font-size: 42px;
		letter-spacing: 18px;
		text-indent: 18px;
	}
	.border-bottom{
		margin: 60px auto 0;
	}
	.mobile-social-icons ul li a {
		margin-right: 30px;
		width: 46px;
	}
}
@media only screen and (max-width: 535px){
	.music-name h1 {
		letter-spacing: 14px;
		text-indent: 14px;
	}
}
@media only screen and (max-width: 475px){
	.discography-desc h5{
		font-size: 22px;
	}
}
@media only screen and (max-width: 440px){
	body,.about-content{
		font-size: 22px;
	}
	.inset{
		padding: 0 30px;
	}
	.music-name h1 {
		letter-spacing: 10px;
		text-indent: 10px;
		font-size: 36px;
	}
	.mobile-social-icons ul li a {
		margin-right: 14px;
		width: 32px;
		background-size: 280px;
	}
	.mobile-social-icons ul li a.facebook {
		background-position: 0 0;
		width: 16px;
	}
	.mobile-social-icons ul li a.twitter {
		background-position: -40px 0;
		width: 30px;
	}
	.mobile-social-icons ul li a.instagram {
		background-position: -94px 0;
	}
	.mobile-social-icons ul li a.youtube {
		background-position: -151px 0;
	}
	.mobile-social-icons ul li a.spotify {
		background-position: -202px 0;
	}
	.mobile-social-icons ul li a.apple {
		background-position: -256px 0;
		margin-right: 0;
	}
	.menu-text {
		font-size: 16px;
		font-weight: normal;
		padding-top: 6px;
	}
	.mobile-menu a span.hamberger::before{
		width: 40px;
		top: -14px;
	}
	.mobile-menu a span.hamberger {
		width: 40px;
		top: 14px;
	}
	.mobile-menu a span.hamberger::after {
		width: 40px;
		top: 14px;
	}
	.description {
		margin-left: 20px;
	}
	.title{
		font-size: 32px;
		margin-bottom: 45px;
	}
	iframe {
		height: 280px;
		max-width: 100%;
	}
	#menu-container a span.close-hamberger,#menu-container a span.close-hamberger:before,#menu-container a span.close-hamberger:after{
		width: 40px;
	}
	#menu-container a span.close-hamberger{
		margin-left: 0;
	}
	.close{
		margin-top: 20px;
	}
	#menu-container ul li {
		margin: 24px 0;
	}
	#menu-container ul li a{
		font-size: 28px;
	}
}
@media only screen and (max-width: 360px){
	.music-name h1 {
		letter-spacing: 4px;
		text-indent: 4px;
	}
	.inset{
		padding: 0 25px;
	}
	body,.about-content.discography-desc h5{
		font-size: 20px;
	}
	.title{
		font-size: 28px;
		margin-bottom: 35px;
	}
	.menu-text {
		padding-top: 14px;
	}
}
@media only screen and (max-width: 320px){
	.inset{
		padding: 0 20px;
	}
	#menu-container ul li {
		margin: 18px 0;
	}
	#menu-container ul li a{
		font-size: 24px;
	}
	
}